@import '../abstracts/mixins';

.nav {
  @include grid-column(col1, col3);
  @include grid-row(row1, row2);
  @include flex(column, center, center, nowrap);
  background-color: #1E1E1E !important;
  height: 75px;
}

.toolbar {
  @include flex(row, flex-start !important, center, nowrap);
  width: 95%;

  .navigation {
    margin-left: auto;
  }
}