body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "main main main main main"
    "footer footer footer footer footer";
}