.navbar {
  position: fixed;
  z-index: 1000;
  grid-area: navbar;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px 0px 15px;
  /*backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.7);
  border-style: solid;
  border-color: #E7EBF0;
  border-width: 0;
  border-bottom-width: thin;*/
}

